<body>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">MapMyCheckins</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./">Home</a>
              </li>
              <li class="">
                <a href="./app">App</a>
              </li>
              <li class="">
                <a href="https://github.com/vjo/MapMyCheckins">GitHub project</a>
              </li>
            </ul>
            <p class="pull-right"><img src="/img/poweredByFoursquare_gray_small.png"></p>
          </div>
        </div>
      </div>
    </div>

<div class="bighead">
  <div class="container">
    <h1>Map My Check-ins</h1>
    <p>Re-<span>discover</span> places where you've been.</p>
    <p><a href="./authenticate" class="btn btn-primary btn-large">Get Started</a></p>
  </div>
</div>


    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Designed and built with fun by <a href="http://twitter.com/y3ty" target="_blank">@y3ty</a>.</p>
      </div>
    </footer>

  </body>
